body{
	font-family: 'Dosis', sans-serif
	font-size: 17px;
	margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}

.banner{
	margin-bottom: 16px;
	background-color: #E0E0E0;
	width: 100%;
 /* height: 30px;*/
	color: white;



}
.banner img{
	margin-top: 2px;

	

}
.home{
	}
.logo{
	margin-bottom: 30px;

}
.mainHeader{
	/*background: green;*/
	color: #E0E0E0;
	/*padding:4px;
	display: inline-block;
	border-radius: 5%;
*/
}


/*mobile browsers house keeping*/
@media (max-width: 767px) {                  
   .home {
      display: none;
   }
}