body{
	font-family: 'Dosis', sans-serif
	font-size: 17px;
	margin:0; /* remove default margin */
     padding:0; /* remove default padding */
     width:100%; /* take full browser width */
     height:100%; /* take full browser height*/
}

.banner{margin-bottom: 16px; background-color: #E0E0E0; width: 100%; color: white;}
.banner img{margin-top: 2px;}

.home{}

.logo{margin-bottom: 30px; }

.mainHeader{color: #E0E0E0;}
/*
.comparison select {background: transparent; border-bottom: none; font-size: 14px;height: 29px;
   padding: 5px; 
   width: 268px;}*/

.stories .comparison-matrix .comparison{ display: inline; float: left; margin-right: 1px;  }
.comparison{background-color: #EEEEEE; border: #BDBDBD solid 1px; border-radius: 5px;}
.comparison .matrix .fixtures .headers div{ display:inline; float: left;  margin-right: 8px;}

/**/
/*.comparison .matrix .fixtures .content div{ display: inline; float: left; margin-right: 8px; }
*/.comparison .matrix .fixtures .date{clear: left;  background-color: red; }

.comparison .addLimit{clear: left}






/*mobile browsers house keeping*/
@media (max-width: 767px) {                  
   .home {display: none;}

   p{font-size: .75em;}

   select{font-size: 8px; width: 25%; padding: 0;
   }

   .step1{
   	display: none;
   }
   .comparison{
   	width: 100%;
   }
}