
<section class= "comparison" ng-controller="awayCtrl as ctrl">
         <div>
		 <select  class="league" ng-model="selected" ng-change="ctrl.selectedLg(selected)">
		 	<option  ng-repeat="x in dataset"   value="{{x.id}}">{{x.caption}}</option>
		  </select>
           </div>

           <div style="clear:both; display:block"></div>
         <div>
		  <select  class="teams"  ng-model="selectedteams" ng-change="ctrl.selectedTm(selectedteams)" width: "20px"; >

		 	<option  ng-repeat="t in teams" value="{{t._links.self.href}}" >{{t.name}}</option>
		 	


		   </select>
		   </div>


			 <section class="matrix">
			 	
			 	<div style="clear:both; display:block"></div>
			 	<div class="fixtures">

				 	 <div class="headers">
				 		<div class="date"><p>Date</p></div>
				 		<div class="location"><p>Venue</p></div>
				 		<div class="against"><p>Team</p></div>
				 	</div>
				 	<div style="clear:both; display:block"></div>
				 	<div class="results">
				 		<div>
	                       <p ng-model="selected" ng-repeat="e in fixtures | limitTo :limit" class="date">{{e.date | date: "M/d/yy"}}</p>
	                       
	                        
				 		</div>
				 	
				 		<div>


					 			<p class="location{{p.class}}" ng-repeat="p in venue| limitTo :limit">{{p.location}}</p>
		 			<p ng-repeat="p in venue| limitTo :limit" class=" location {{p.class}}"">{{p.location}}</p>

				 		
				 		</div>
				 		<div>
				 			<p class="against" ng-repeat="a in against| limitTo :limit">{{a.team}}</p>
				 			
				 		</div>
			        </div>
		     </div>
			  </section>



<section class="addLimit">
	<button ng-click="addLimit()">Add More</button>
</section>
</section>