<div class="social">
	<div>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FFixture-comparison-532298987120605%2F&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<div>
<a href="https://twitter.com/intent/tweet?text=Compare%20Football%20Fixtures%20with%20this%20amazing%20comparison%20app.%20http://fixture-comparison.com" target="blank">             
     <img src="images/twitter-blue.png" height="30px" width="30px"></a>
</div>

</div>





